/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/district-voting.iml
/district-voting-1.iml
/resources/public/contracts/build/
/node_modules/
/resources/public/js/compiled/
resources/public/contracts/build
/resources/public/css/
/figwheel_server.log
